#container {
    margin: 0 auto;
    border: 1px dashed black;
    width: 900px;
    padding: 10px;
}

#header {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

#nav_top {
    border: 1px dotted green;
    padding: 5px;
    margin-bottom: 10px;
}

#nav_top ul {
    list-style: none;
}

#nav_top ul li {
    display: inline;
}

#nav_top ul li a {
    border: 1px dotted green;
    padding: 5px 10px;;
    margin: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#nav_top ul li a:hover {
    border: 1px solid green;
    background-color: #c1c1c1;
}

#nav_right {
    float: right;
    border: 1px dotted green;
    padding: 5px;
}

#nav_right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 110px;
}

#nav_right ul li a {
    display: block;
    width: 80px;
    border: 1px dotted green;
    margin: 10px;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#nav_right ul li a:hover {
    border: 1px solid green;
    background-color: #c1c1c1;
}

#content {
    border: 1px dotted blue;
    float: left;
    width: 83%;
    padding: 0 10px;
}

.clear {
    clear: both;
}

.item {
    border: 1px dashed blue;
    margin: 5px;
    padding: 5px;
}

.item_bottom {
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}