{% extends "base.html" %}
{% block content %}
{% for i in items %}
<div class="item">
  <h4>{{ i.content_object.title }}</h4>
  <p>{{ i.content_object.description }}</p>
  {% if i.content_type.name == "image" %}
  <img src="{{ i.content_object.image.url  }}" />
  {% endif %}
  <div class="actions">
      <li class="ui-state-default ui-corner-all" title="Edit"><span class="ui-icon ui-icon-pencil"></span></li>
      <li class="ui-state-default ui-corner-all" title="Delete"><span class="ui-icon ui-icon-trash"></span></li>
    </ul>
    <input type="text" id="tag-input-{{ i.pk }}" class="tag-input" name="Tags" />
  </div>
  <div class="clear"></div>
</div>
{% endfor %}
{% endblock %}
